# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# Virtual environments
env/
venv/
.conda/

# Data (large files — don't push to GitHub)
data/raw_images/
data/splits/
models/pretrained/
models/trained/
models/exported/

# Logs & results
logs/
results/predictions/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
